<div class="d-flex h-100 overflow-hidden main-layout-container">
  <div class="sidebar-column d-none d-lg-flex flex-column" [class.is-collapsed]="sidebarCollapsed()">
    <app-sidebar (logout)="handleLogout()" (themeToggle)="handleThemeToggle()" (collapseChange)="sidebarCollapsed.set($event)"></app-sidebar>
    <a class="version-badge" routerLink="/guia" title="Guia do Sistema">
      <i class="fas fa-tag"></i>
      @if (!sidebarCollapsed()) {
        <span class="ms-1">V 1.1.0</span>
      }
    </a>
  </div>

  <main class="flex-grow-1 overflow-auto position-relative main-content">
    <router-outlet></router-outlet>
  </main>

  <tm-bottom-nav 
    class="d-lg-none" 
    [items]="mobileMenuItems()"
    (itemClick)="handleMobileItemClick($event)"
  ></tm-bottom-nav>
</div>

<app-sidebar-modal-idioma [(show)]="showIdiomaModal" />
