.avatar-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

:host-context([data-theme='dark']) {
  label {
    color: #ffffff !important;
  }

  .custom-dark-card {
    background-color: #161b22 !important;
    border: 1px solid rgba(255, 255, 255, 0.08) !important;
  }

  .custom-dark-text {
    color: #ffffff !important;
  }
}
