<tm-sidebar
  [brandName]="'Groom'"
  [brandColor]="'#ffee00'"
  [showBrandName]="true"
  [brandScale]="1.8"
  [headerPaddingTop]="24"
  [logoUrl]="'logo.png'"
  [logoUrlCollapsed]="'logo.png'"
  [logoScale]="0.3"
  [avatarBgColor]="avatarColor"
  [menuItems]="menuItems"
  [currentUser]="currentUser"
  [isCollapsed]="isCollapsed()"
  [isDarkMode]="themeService.isDarkMode()"
  (onLogout)="handleLogout()"
  (onToggleCollapse)="handleToggleCollapse($event)"
  (onThemeToggle)="handleThemeToggle()"
  (onItemClick)="handleItemClick($event)"
></tm-sidebar>
